<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= link_to "照明ON", home_light_on_path, remote: true, class: 'btn btn-primary', style: 'width:150px;height:150px;line-height:140px;font-size:2em;' %>
        <%= link_to "照明OFF", home_light_off_path, remote: true, class: 'btn btn-primary', style: 'width:150px;height:150px;line-height:140px;font-size:2em;'%>
      </div>
    </div>
  </div>
  <div class="m-2"></div>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <div style="width:540px;height:80px;margin:0;overflow:hidden;">
          <iframe seamless width="800px" height="800px" frameborder="0" scrolling="no"
            style="margin-left:-130px;margin-top:-<%= ((((date=Date.today)-(beginning_of_month=date.beginning_of_month)+beginning_of_month.wday)/7).to_i+1)*70+5 %>px;overflow:hidden;"
            src="https://docs.google.com/viewerng/viewer?url=https://www.city.nishitokyo.lg.jp/kurasi/gomi_recycle/gomi-calebder/gomikarenda-pdf.files/higashihushimi<%= Date.today.mon %>gatu010911.pdf&hl=bn&embedded=true">
          </iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="m-2"></div>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <%= line_chart (7.days.ago.to_date..1.days.ago.to_date).map{|d| [d, rand(300..10000)]} %>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div id="amesh">
          <%= image_tag 'https://tokyo-ame.jwa.or.jp/map/map000.jpg' %>
          <%= image_tag "https://tokyo-ame.jwa.or.jp/mesh/000/#{Time.now.strftime('%Y%m%d%H00')}.gif" %>
          <%= image_tag 'https://tokyo-ame.jwa.or.jp/map/msk000.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
