<!DOCTYPE html>
<html>
  <head>
    <title>Home Management Console</title>
    <meta http-equiv='refresh' content='3600; URL='>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
      <a class='navbar-brand' href='/'>Home Management Console</a>
      <!--
      <div class='collapse navbar-collapse' id='navbarCollapse'>
        <ul class='navbar-nav mr-auto'>
          <li class='nav-item active'>
            <a class='nav-link' href='#'>Home</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' href='#'>Link</a>
          </li>
        </ul>
      </div>
      -->
    </nav>
    <%= yield %>
  </body>
</html>
